<div class="simpleArticleContainer">
  <!-- <a class="simpleArticleBanner">
    <img src="/assets/imgs/ci-image2.png">
  </a> -->
  <a class="simpleArticleBanner" style="
    width: 100px;
    height: 100px;
    margin-right: 1.5rem;
    background-image: url('/assets/imgs/name2.png');
    background-position: 50% 50% !important;">
  </a>

  <div class="simpleArticleTexts">
    <div class="simpleArticleTitle">
      <a>
        <h1>Rasterization Algorithms — Computer Graphics</h1>
      </a>
    </div>
    <div class="simpleArticleInformation">
      <div class="simpletArticleAuthor">
        <a>
          <h2>Thiago Luiz Full-stack developer</h2>
        </a>
      </div>
      <div class="simpleArticleStatus">
        <span class="simpleArticleDate">20 May</span>
        <span class="simpleArticleTime"> 13 min</span>
        <span class="simpleArticleIcon" style="color: #757575; font-size: .6rem;">
          <i class="fas fa-star"></i>
        </span>
      </div>
    </div>
  </div>
</div>
