.simpleArticleContainer {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 115px;
  margin-bottom: 1rem;
  margin: auto;
}

.simpleArticleBanner {
  width: 100px;
  height: 100px;
  margin-right: 1.5rem;
  background-position: 50% 50% !important;
}

.simpleArticleTexts {
  flex: 2;
}

.simpleArticleTitle>a>h1 {
  font-family: LucidaGrandeBold;
  font-size: .95rem;
}

.simpleArticleInformation {
  margin-top: 1.5rem;
}

.simpletArticleAuthor {
  margin-top: 1rem;
}

.simpletArticleAuthor>a>h2 {
  font-family: LucidaGrande;
  font-size: .8rem;
}

.simpleArticleStatus>span {
  color: #757575;
  font-family: LucidaGrande;
  font-size: .8rem;
}

.simpleArticleIcon {
  vertical-align: middle;
  margin-left: .5rem;
  padding-top: 1px;
}

.simpleArticleIcon>i {
  padding-bottom: .2rem;
}

@media only screen and (max-width: 768px) {
  .simpleArticleContainer {
    width: 350px;
    height: 115px;
    margin-bottom: 1rem;
    margin: auto;
  }
  .simpleArticleBanner {
    margin-right: 0rem;
  }
  .simpleArticleTexts {
    margin-left: .5rem;
  }
}
