.container {
  font-family: OpenSans-Regular;
  width: 700px;
}
.profile-title {
  font-family: inherit;
  margin-top: 60px;
}
.profile {
  display: flex;
  justify-content: space-between;
}
.personal-info {
  flex: 3;
}
.personal-title {
  font-family: inherit;
}
.personal-image {
  flex: 1;
}
.btn-primary {
  border: none;
  background-color: #1976d2;
  transition: all ease-in-out .3s;
}
.btn-primary:hover {
  background-color: #0D47A1;
}
.btn-default {
  background-color: #fff;
  color: #616467;
  transition: all ease-in-out .3s;
}
.btn-default:hover {
  background-color: #616467;
  color: #fff;
}
.personal-image {
  text-align: center;
}
.personal-image:hover {
  text-align: center;
}
.personal-image input[type="file"] {
  display: none;
}
.personal-figure {
  position: relative;
}
.personal-figure .personal-avatar {
  cursor: pointer;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out .3s;
}
.personal-figure .personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.personal-figure .personal-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out .3s;
}
.personal-figure .personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
}
.personal-figure .personal-figcaption > img {
  margin-top: 32.5px;
  width: 50px;
  height: 50px;
}
@media only screen and (max-width: 768px) {
  .container {
    width: auto;
  }
  .profile {
    flex-direction: column-reverse
  }
  .personal-figure {
    margin-bottom: 25px;
  }
}
