@font-face {
  font-family: VarelaRound-Regular;
  src: url('/assets/fonts/VarelaRound-Regular.ttf')
}
.Navbar {
  background-color: #fff;
  display: flex;
  padding: 10px;
  font-size: 15px;
  font-family: VarelaRound-Regular;
  color: rgb(100, 100, 100);
}
.Navbar__Link {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 8px;
}
.Navbar__Items {
  display: flex;
}
.Navbar__Items--right {
  margin-left: auto;
}
.Navbar__Link-toggle {
  display: none;
}
.Navbar_pointer {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .Navbar {
    background-color: #66afe9;
    color: #fff;
  }
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
  .Navbar__Items {
    visibility: hidden;
    height: 0px;

    transition: height ease-in-out .3s;
    -webkit-transition:height ease-in-out .3s;
    -moz-transition:height ease-in-out .3s;
    -o-transition:height ease-in-out .3s;
  }
  .Navbar__Items--right {
    margin-left:0;
  }
  .Navbar__ToggleShow {
    visibility: visible;
    height: 60px;
  }
  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   }
}
