<!-- <nav class="navbar navbar-light bg-light mb-5">
  <a class="navbar-brand" href="/">CI Environment</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Início</a>
      <a class="nav-item nav-link" href="#">Sobre</a>
      <a class="nav-item nav-link" href="#">Contato</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <ci-login id="ciLoginComponent"></ci-login>
      <ci-user></ci-user>
    </div>
  </div>
</nav> -->
<div class="Navbar">
  <div class="Navbar__Link Navbar__Link-brand">
    Website title
  </div>
  <div (click)="onClickToggle()" class="Navbar__Link Navbar__Link-toggle">
    <i class="fas fa-bars"></i>
  </div>
  <nav class="Navbar__Items">
    <div class="Navbar__Link">
      Longer Link
    </div>
    <div class="Navbar__Link">
      Longer Link
    </div>
    <div class="Navbar__Link">
      Link
    </div>
  </nav>
  <nav class="Navbar__Items Navbar__Items--right">
    <div class="Navbar__Link">
      <a id="" class="ciLoginLink ciLogin" (click)="openModal('ciLoginModal', 'login')">
        Login
      </a>
    </div>
    <div class="Navbar__Link">
      <a id="" class="ciSingUpLink ciLogin" (click)="openModal('ciLoginModal', 'signup')">
        Sign Up
      </a>
    </div>
  </nav>
</div>
