<nav class="navbar navbar-light bg-light mb-5">
  <a class="navbar-brand" href="/">CI Environment</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Início</a>
      <a class="nav-item nav-link" href="#">Sobre</a>
      <a class="nav-item nav-link" href="#">Contato</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="">
        Login
      </a>
      <a class="nav-item nav-link" href="">
        Sign Up
      </a>
    </div>
  </div>
</nav>
