<div class="signup">
  <div class="signup-header">
    <div clas="container">
      <div class="signup-nav">
        <a routerLink="">
          <img class="signup-nav-logo" src="../../../assets/imgs/logo.svg" alt="Angular Logo" />
        </a>
      </div>
    </div>
  </div>
  <div class="signup-forms">
    <div class="container">
      <h5 class="signup-title">Registrar</h5>
      <div class="signup-group">
        <form #form="ngForm" novalidate>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Nome" required="required" name="name" [(ngModel)]="user.name"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Email" required="required" name="email" [(ngModel)]="user.email"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="input-group">
            <input type="password" class="form-control" required="required" name="name" placeholder="Senha"
              [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="input-group">
            <input type="password" [ngClass]="'form-control-signup'" class="form-control" placeholder="Confirmar senha"
              required="required" name="name" [(ngModel)]="user.confirm_password" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label>
              <input type="checkbox" [(ngModel)]="terms_service"
              [ngModelOptions]="{standalone: true}">
              Eu concordo com os <a href="#" class="term-service">Termos e condições </a> do Ambiente CI.
              <br>
            </label>
          </div>
          <div class="form-group">
            <button type="button" class="btn-login btn-primary btn-block btn-lg" (click)="signup()">Confirmar</button>
          </div>
        </form>
        <p class="signup-login">
          Já possui uma conta?
          <a routerLink="/login">Acesse aqui.</a>
        </p>
      </div>
    </div>
  </div>
</div>
