<article (click)="rowArticleClick()" class="rowArticleContainer">
  <div class="rowArticleTexts">
    <div class="rowArticleTitle">
      <a>
        <h1>{{ articleBody.title }}</h1>
      </a>
    </div>
    <div class="rowArticleDescription">
      <a>
        <h2>{{ articleBody.brief_description }}</h2>
      </a>
    </div>
    <div class="rowArticleInformation">
      <div class="rowArticleAuthor">
        <a>
          <h2>{{ articleBody.author }}</h2>
        </a>
      </div>
      <div class="rowArticleStatus">
        <span class="rowArticleDate">{{ labelDate }} - </span>
        <span class="rowArticleTime"> {{ articleBody.time_reading }} min</span>
        <span class="rowArticleIcon" style="color: #757575; font-size: .6rem;">
          <!-- <i class="fab fa-readme fa-lg" style="color: #EFCE4A;"></i> -->
          <i class="fas fa-book-reader" style="color: #757575;"></i>
          <!-- <i class="fas fa-book-reader" style="color: #EFCE4A;"></i> -->
        </span>
        <!-- <span class="rowArticleIcon" style="color: #757575; font-size: .6rem;">
          <i class="fas fa-star" style="color: #EFCE4A;"></i>
        </span> -->
      </div>
    </div>
  </div>
  <a class="rowArticleBanner" [style.background-image]="'url(\'' + articleBody.banner + '\')'"></a>
</article>
