<div #divTextAreaRef class="textAreaCss">
  <button #buttonAreaRef class="choseButton">
    <span style="color: rgba(0, 0, 0, .4);">
      <i class="fas fa-plus"></i>
    </span>
  </button>
  <div #divSelectOptions class="divSelectOptions">
    <button #buttonCamRef class="selectOptionsButton" (click)="createFigureComponent()">
      <span style="color: rgba(0, 0, 0, .4);">
        <i class="fas fa-camera"></i>
      </span>
    </button>

    <button #buttonGitHubRef class="selectOptionsButton">
      <span style="color: rgba(0, 0, 0, .4);">
        <i class="fab fa-github"></i>
      </span>
    </button>
  </div>
  <textarea autosize #textAreaRef (focus)="focusFunction()" (focusout)="focusOutFunction()"></textarea>
</div>
