/* .titleTextAreaCss {
  width: 100%;
  display: inline-block;
  outline-width: 0;
  border: none;
  font-family: LucidaGrandeBold;
  font-size: 1.5rem;
  resize: none;
  color: rgba(0, 0, 0, 1);
} */
