<div class="ciLogin">
  <a class="ciLoginLink" (click)="openModal('ciLoginModal', 'login')">
    Login
  </a>
  <a class="ciSingUpLink" (click)="openModal('ciLoginModal', 'signup')">
    Sign Up
  </a>
</div>

<ci-modal id="ciLoginModal">
  <div class="modal-header">
    <h4 [hidden]="!loginMode" class="modal-title">Login</h4>
    <h4 [hidden]="!signupMode" class="modal-title">SignUp</h4>
    <h4 [hidden]="!forgotMode"class="modal-title">Forgot Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal('ciLoginModal')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    {{ getUser() | json }}
    <form #form="ngForm" novalidate>
      <div [hidden]="!signupMode" class="input-group">
        <span>
          <i class="fas fa-user"></i>
        </span>
        <input type="text"
              [ngClass]="'form-control-signup'"
              class="form-control" placeholder="Name" required="required" name="name" [(ngModel)]="user.name">
      </div>
      <div class="input-group">
        <span>
          <i class="fas fa-envelope"></i>
        </span>
        <input type="text"
              [ngClass]="([loginMode]=='true') ? 'form-control-login': ([signupMode]=='true') ? 'form-control-signup' : 'form-control-forgot'"
              class="form-control" placeholder="Email" required="required" name="name" [(ngModel)]="user.email">
      </div>
      <div [hidden]="forgotMode" class="input-group">
        <span>
          <i class="fas fa-key"></i>
        </span>
        <input type="password"
              [ngClass]="([loginMode]=='true') ? 'form-control-login': 'form-control-signup'"
              class="form-control" placeholder="Password" required="required" name="name" [(ngModel)]="user.password">
      </div>
      <div [hidden]="!signupMode" class="input-group">
        <span>
          <i class="fas fa-key"></i>
        </span>
        <input type="password"
        [ngClass]="'form-control-signup'"
        class="form-control" placeholder="Confirm Password" required="required" name="name" [(ngModel)]="user.confirm_password">
      </div>
      <div [hidden]="!loginMode"id="btn-login" class="form-group">
        <button type="button" class="btn-login btn-primary btn-block btn-lg" (click)="login()">Login</button>
      </div>
      <div [hidden]="!signupMode" id="btn-signup" class="form-group">
        <button type="button" class="signup-btn btn-primary btn-block btn-lg" (click)="signup()">SignUp</button>
      </div>
      <div [hidden]="!forgotMode" id="btn-forgot" class="form-group">
        <button type="button" class="forgot-btn btn-primary btn-block btn-lg" (click)="forgot()">Forgot Password</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div>
      <a href="#" (click)="openModal('ciLoginModal', 'signup')" [hidden]="!loginMode">Register here!</a>
    </div>
    <div>
      <a href="#" (click)="openModal('ciLoginModal', 'forgot')" [hidden]="!loginMode">Forgot Password?</a>
    </div>
    <a href="#" (click)="openModal('ciLoginModal', 'login')" [hidden]="!signupMode">
    Are you already registered? Login here!</a>
    <a href="#" (click)="openModal('ciLoginModal', 'login')" [hidden]="!forgotMode">Back to login</a>
  </div>
</ci-modal>
