<ci-user></ci-user>
<div id="loginModal" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        <h4" class="modal-title">Login</h4>
        <h4 class="modal-title">SignUp</h4>
        <h4 class="modal-title">Forgot Password</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">

    </div>
  </div>
</div>

