@font-face {
  font-family: VarelaRound-Regular;
  src: url('/assets/fonts/VarelaRound-Regular.ttf')
}
#ciLoginModal {
  font-family: VarelaRound-Regular;
  color: #636363;
  /*width: 200px;
  height: 600px;*/
}
#ciLoginModal .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
#ciLoginModal .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
#ciLoginModal h4 {
  text-align: center;
  font-size: 26px;
}
#ciLoginModal .input-group {
  margin-bottom: 10%;
}
#ciLoginModal .input-group-addon {
  background-color: #F5F5F5;
}
#ciLoginModal  .form-group {
  position: relative;
}
#ciLoginModal i {
  font-size: 18px;
}
#ciLoginModal .form-control {
  height: auto;
  outline: none;
  margin-left: 10px;
  padding-left: 10px;
}
#ciLoginModal .form-control:focus {
  border-color: #00ce81;
}
#ciLoginModal .form-control, .btn {
  min-height: 40px;
  border-radius: 3px;
}
#ciLoginModal .hint-text {
  text-align: center;
  padding-top: 10px;
}
#ciLoginModal .close {
  position: absolute;
  top: -5px;
  right: -5px;
}
#ciLoginModal .btn-login {
  background: #2196F3;
  border: none;
  line-height: normal;
}
#ciLoginModal .btn-login:hover, .btn-login:focus {
  background: #1E88E5;
}
#ciLoginModal .modal-footer {
  background: #ecf0f1;
  border-color: #dee4e7;
  text-align: center;
  margin: 0 -20px -20px;
  border-radius: 5px;
  font-size: 13px;
  justify-content: center;
}
#ciLoginModal .modal-footer a {
  color: #999;
}
#ciLoginModal .trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
#ciLoginModal .signup-btn {
  background: #00ce81;
  border: none;
  line-height: normal;
}
#ciLoginModal .signup-btn:hover, .signup-btn:focus  {
  background: #00bf78;
}
#ciLoginModal .forgot-btn {
  background: #9575CD;
  border: none;
  line-height: normal;
}
#ciLoginModal .forgot-btn:hover, .forgot-btn:focus  {
  background: #7E57C2;
}

