@font-face {
  font-family: VarelaRound-Regular;
  src: url('/assets/fonts/VarelaRound-Regular.ttf')
}
.ciLogin {
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-flex;
  cursor:pointer;
  font-size: 15px;
  font-family: VarelaRound-Regular;
}
a.ciSingUpLink, a.ciLoginLink {
  /*color: rgb(100, 100, 100);*/
}
a.ciSingUpLink {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 18px;
  padding-right: 18px;
  transition: background-color ease-in-out .3s, border-color ease-in-out .3s, color ease-in-out .3s;
}
a.ciSingUpLink:hover {
  color: #fff;
  background-color: #00ce81;
  border-color: #00ce81;
}
a.ciLoginLink {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 18px;
  padding-right: 18px;
  transition: ease-in-out .3s, border-color ease-in-out .3s, color ease-in-out .3s;
}
a.ciLoginLink:hover {
  color: #66afe9;
  border-color: #66afe9;
}

#ciLoginModal {
  font-family: VarelaRound-Regular;
  color: #636363;
}
#ciLoginModal .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
#ciLoginModal .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
#ciLoginModal h4 {
  text-align: center;
  font-size: 26px;
}
#ciLoginModal .input-group {
  position: relative;
  margin-bottom: 10%;
}
#ciLoginModal .input-group span {
  border-top-left-radius: 3.5px;
  border-bottom-left-radius: 3.5px;
  border: 1px solid #ccc;
  border-right: 0px;

  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #f5f5f5;
  color: rgb(99, 99, 99);
}
#ciLoginModal .input-group i {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
#ciLoginModal .input-group ::placeholder {
  /*color:#ccc;*/
}
#ciLoginModal .input-group-addon {
  background-color: #F5F5F5;
}
#ciLoginModal .form-group {
  position: relative;
}
#ciLoginModal .form-control {
  min-height: 40px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
  border: 1px solid #ccc;

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .3s, -webkit-box-shadow ease-in-out .3s;
  -o-transition: border-color ease-in-out .3s, box-shadow ease-in-out .3s;
  transition: border-color ease-in-out .3s, box-shadow ease-in-out .3s;
}
#ciLoginModal .form-control-login:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
#ciLoginModal .form-control-signup:focus {
  border-color: #00ce81;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,206,129,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,206,129,.6);
}
#ciLoginModal .form-control-forgot:focus {
  border-color: #7E57C2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(126,87,194,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(126,87,194,.6);
}
#ciLoginModal .btn {
  min-height: 40px;
  border-radius: 3px;
}
#ciLoginModal .hint-text {
  text-align: center;
  padding-top: 10px;
}
#ciLoginModal .close {
  position: absolute;
  top: -5px;
  right: -5px;
  color: rgb(51,51,51);
}
#ciLoginModal .btn-login {
  background: #2196F3;
  border: none;
  line-height: normal;
}
#ciLoginModal .btn-login:hover, .btn-login:focus {
  background: #1E88E5;
}
#ciLoginModal .modal-footer {
  background: #ecf0f1;
  border-color: #dee4e7;
  text-align: center;
  margin: 0 -20px -20px;
  border-radius: 5px;
  font-size: 13px;
  justify-content: center;
}
#ciLoginModal .modal-footer a {
  color: #999;
}
#ciLoginModal .trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
#ciLoginModal .signup-btn {
  background: #00ce81;
  border: none;
  line-height: normal;
}
#ciLoginModal .signup-btn:hover, .signup-btn:focus  {
  background: #00bf78;
}
#ciLoginModal .forgot-btn {
  background: #9575CD;
  border: none;
  line-height: normal;
}
#ciLoginModal .forgot-btn:hover, .forgot-btn:focus  {
  background: #7E57C2;
}

@media only screen and (max-width: 768px) {
  .ciLogin {
    flex-direction: column;
  }
  a.ciSingUpLink, a.ciLoginLink {
    padding-left: 0px;
    padding-right: 0px;
    border: none;
  }
  a.ciSingUpLink:hover, a.ciLoginLink:hover {
    background-color: #66afe9;
    color: #fff;
  }
}
