<div class="gridArticleContainer">
  <!-- <a class="gridArticleBanner">
    <img src="/assets/imgs/bible.jpg">
  </a> -->
  <a class="gridArticleBanner" style="
    width: 350px;
    height: 150px;
    background-image: url('/assets/imgs/name3.jpg');
    background-position: 50% 50% !important;">
  </a>
  <div class="gridArticleTexts">
    <div class="gridArticleTitle">
      <a>
        <h1>What Makes a Map Good</h1>
      </a>
    </div>
    <div class="gridArticleDescription">
      <a>
        <h2>The most useful maps distort what they depict and leave out tons of possible information</h2>
      </a>
    </div>
    <div class="gridArticleInformation">
      <div class="gridtArticleAuthor">
        <a>
          <h2>Thiago Luiz Full-stack developer</h2>
        </a>
      </div>
      <div class="gridArticleStatus">
        <span class="gridArticleDate">20 May</span>
        <span class="gridArticleTime"> 13 min</span>
        <span class="gridArticleIcon" style="color: #757575; font-size: .6rem;">
          <i class="fas fa-star"></i>
        </span>
      </div>
    </div>
  </div>
</div>
