<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    Made by <a href="https://github.com/thiagoluiznunes">Thiago Luiz</a>
  </div>
  <div class="navbar">
    <a class="nav-item nav-link" href="https://github.com/thiagoluiznunes" target="_blank">
      <i class="fa fa-github"></i>
    </a>
    <a class="nav-item nav-link" href="https://medium.com/@thiagoluiz.nunes" target="_blank">
      <i class="fa fa-medium"></i>
    </a>
  </div>
</nav>
