<article (click)="simpleArticleClick()" class="simpleArticleContainer">
  <a class="simpleArticleBanner" style="background-image: url('/assets/imgs/name2.png');"></a>
  <div class="simpleArticleTexts">
    <div class="simpleArticleTitle">
      <a>
        <h1>{{ articleBody.title }}</h1>
      </a>
    </div>
    <div class="simpleArticleInformation">
      <div class="simpletArticleAuthor">
        <a>
          <h2>{{ articleBody.author }}</h2>
        </a>
      </div>
      <div class="simpleArticleStatus">
        <span class="simpleArticleDate">{{ labelDate }} - </span>
        <span class="simpleArticleTime"> {{ articleBody.time_reading }} min</span>
        <span class="simpleArticleIcon" style="color: #757575; font-size: .6rem;">
          <!-- <i class="fab fa-readme fa-lg" style="color: #757575; width: 20px;"></i> -->
          <!-- <i class="fas fa-book"></i> -->
          <!-- <i class="fas fa-book-open"></i> -->
          <i class="fas fa-book-reader"></i>
          <!-- <i class="fas fa-star"></i> -->
        </span>
      </div>
    </div>
  </div>
</article>
