<div class="pageArticleContainer">
  <div class="pageArticleTexts">
    <div class="pageArticleTitle">
      <a>
        <h1>Rasterization Algorithms — Computer Graphics</h1>
      </a>
    </div>
    <div class="pageArticleInformation">
      <img class="authorImage" src="/assets/imgs/profile.jpeg">
      <div class="informations">
        <div class="pageArticleAuthor">
          <a>
            <h2>Thiago Luiz</h2>
          </a>
        </div>
        <div class="pageArticleStatus">
          <span class="pageArticleDate">20 May - </span>
          <span class="pageArticleTime"> 13 min</span>
          <span class="pageArticleIcon" style="color: #757575; font-size: .6rem;">
            <i class="fas fa-star"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <a class="pageArticleBanner" style="background-image: url('/assets/imgs/name1.jpeg');"></a>
  <div class="pageArticleDescription">
    <a>
      <h2>The most useful maps distort what they depict and leave out tons of possible information</h2>
    </a>
  </div>
</div>
