<div class="mainContainer">
  <section class="mostRecentArticles">
    <div class="mostRecentTitle">
      <h1 class="title">Ultimas publicações
        <!-- <span style="color: #757575; font-size: .7rem;"> -->
        <span class="icon">
          <i class="fas fa-chevron-right"></i>
        </span>
      </h1>
    </div>
    <div class="articles">
      <app-grid-article></app-grid-article>
      <div class="simplesArticles">
        <app-simple-article></app-simple-article>
        <app-simple-article></app-simple-article>
        <app-simple-article></app-simple-article>
      </div>
      <app-grid-article></app-grid-article>
    </div>
  </section>
  <section class="itemsList">
    <section class="mostRatedArticles">
      <div *ngFor="let article of mostRatedArticles">
        <app-row-article style="margin-bottom: 1rem;"></app-row-article>
      </div>
    </section>
    <!-- <section class="mostRecentFoundPosts">
      <p>Hiiiiiiiiiiiiiiiiiii</p>
      <p>Hiiiiiiiiiiiiiiiiiii</p>
      <p>Hiiiiiiiiiiiiiiiiiii</p>
      <p>Hiiiiiiiiiiiiiiiiiii</p>
    </section> -->
  </section>
</div>
