<div class="mainContainer">
  <section class="mostRecentArticles">
    <div class="mostRecentTitle">
      <h1 class="title">Publicações recentes
        <span class="icon" style="color: #00B7FF;">
          <i class="fas fa-chevron-right"></i>
        </span>
      </h1>
    </div>
    <div class="articles">
      <app-grid-article [articleBody]="latestArticles[0]"></app-grid-article>
      <div class="simplesArticles">
        <app-simple-article [articleBody]="latestArticles[1]"></app-simple-article>
        <app-simple-article [articleBody]="latestArticles[2]"></app-simple-article>
        <app-simple-article [articleBody]="latestArticles[3]"></app-simple-article>
      </div>
      <app-grid-article [articleBody]="latestArticles[4]"></app-grid-article>
    </div>
  </section>
  <!-- <app-page-article [data]="article"></app-page-article> -->
  <section class="itemsList">
    <section class="mostRatedArticles">
      <div class="mostRecentTitle">
        <h1 class="title">Mais populares
          <span class="icon" style="color: #00B7FF;">
            <i class="fas fa-chevron-right"></i>
          </span>
        </h1>
        <span class="rowArticleIcon" style="color: #757575; font-size: .6rem;">
          <i class="fas fa-star" style="color: #EFCE4A; vertical-align: bottom;"></i>
        </span>
      </div>
      <div *ngFor="let article of topRatedArticles">
        <app-row-article [articleBody]="article" style="margin-bottom: 1rem;"></app-row-article>
        </div>
    </section>
    <!-- <section class="mostRecentFoundPosts">
      <div></div>
    </section> -->
  </section>
</div>
