<div class="mainContainer">
  <section class="mostRecentArticles">
    <div class="mostRecentTitle">
      <h1 class="title">Publicações recentes
        <span class="icon">
          <i class="fas fa-chevron-right"></i>
        </span>
      </h1>
    </div>
    <div class="articles">
      <app-grid-article></app-grid-article>
      <div class="simplesArticles">
        <app-simple-article></app-simple-article>
        <app-simple-article></app-simple-article>
        <app-simple-article></app-simple-article>
      </div>
      <app-grid-article></app-grid-article>
    </div>
  </section>
  <app-page-article [data]="article"></app-page-article>
  <section class="itemsList">
    <section class="mostRatedArticles">
      <div class="mostRecentTitle">
        <h1 class="title">Mais populares
          <span class="icon">
            <i class="fas fa-chevron-right"></i>
          </span>
        </h1>
      </div>
      <div *ngFor="let article of mostRatedArticles">
        <app-row-article style="margin-bottom: 1rem;"></app-row-article>
      </div>
    </section>
    <!-- <section class="mostRecentFoundPosts">
      <div></div>
    </section> -->
  </section>
</div>
