@-webkit-keyframes mainFadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mainFadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: auto;
  padding: 2rem;
  animation: mainFadeInOut .3s linear;
}

.mostRecentTitle {
  width: 100%;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #E0E0E0;
}

.mostRecentArticles .title {
  cursor: pointer;
  width: 11rem;
  position: relative;
  font-family: LucidaGrande;
  font-size: 1rem;
  color: #757575;
  transition: all ease-in-out .2s;
}

.mostRecentArticles .title:hover {
  color: #1976d2;
  /* color: #00BFA5; */
}

.mostRecentArticles .icon {
  color: #757575;
  font-size: .7rem;
  transition: all ease-in-out .2s;
}

.mostRecentArticles .title:hover .icon {
  color: #1976d2;
  /* color: #00BFA5; */
}

.mostRecentArticles .articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.simplesArticles {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.itemsList {
  display: flex;
  flex-direction: row;
  margin: auto;
}


.mostRatedArticles .title {
  cursor: pointer;
  width: 11rem;
  margin-top: 1.5rem;
  position: relative;
  font-family: LucidaGrande;
  font-size: 1rem;
  color: #757575;
  transition: all ease-in-out .2s;
}

.mostRatedArticles .title:hover {
  color: #1976d2;
  /* color: #00BFA5; */
}

.mostRatedArticles .icon {
  color: #757575;
  font-size: .7rem;
  transition: all ease-in-out .2s;
}

.mostRatedArticles .title:hover .icon {
  color: #1976d2;
  /* color: #00BFA5; */
}
.mostRatedArticles {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
}

.mostRatedArticles>div {
  margin-bottom: 3rem;
}

.mostRecentFoundPosts {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .mainContainer {
    width: 100%;
    padding: 0rem;
  }
  .mostRecentArticles .title {
    margin-top: .5rem;
    margin-left: .5rem;
  }
  .mostRecentArticles .articles {
    flex-direction: column;
  }
  .mostRecentArticles .articles>app-grid-article {
    margin-bottom: 1.5rem;
  }
  .mostRecentArticles .articles>app-grid-article {
    margin-right: 0rem;
  }
  .simplesArticles {
    margin-right: 0rem;
  }
}
