<article class="createArticleContainer">
  <section class="createArticleTitle">
    <span #titleSpan class="titleTextAreaAfter">Título</span>
    <textarea autosize #titleTextArea data-label="Título" (focus)="focusFunction()"
      (keydown.enter)="$event.preventDefault()" (focusout)="focusOutFunction()" class="titleTextArea"
      placeholder="{{ placeHolder }}"></textarea>
  </section>
  <section #articleBodySection class="createArticleBody">
    <!-- <button class="buttonBodySection">
      <span style="color: #fff;">
        <i class="fas fa-plus"></i>
      </span>
    </button> -->
    <!-- <app-textarea textAreaId="paragraphTextArea" textAreaCss="paragraphTextAreaCss" textAreaPlaceHolder="Título">
    </app-textarea> -->
  </section>
</article>
