.navbar-boilerplate {
  /* background-image: linear-gradient(to right, #1976d2, #5e9fdf); */
  font-family: VarelaRound-Regular;
  border-bottom: solid 1px #ccc;
  padding: 0em;
}
.navbar-boilerplate .collapse, .navbar-collapse, .navbar-brand {
  padding: 1em;
}
.navbar-boilerplate .navbar-brand {
  /* color: rgb(255, 255, 255); */
  color: #616161;
}
.navbar-boilerplate .nav-link {
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-flex;
  cursor:pointer;
  /* color: rgb(255, 255, 255); */
  color: #616161;
  font-size: 15px;
  transition: color ease-in-out .3s;
}
.navbar-boilerplate .nav-link:hover {
  /* color: #00E676; */
  color: #1976d2;
}
.navbar-boilerplate .app-singup-link {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 18px;
  padding-right: 18px;
  transition: background-color ease-in-out .3s, border-color ease-in-out .3s, color ease-in-out .3s;
}
.navbar-boilerplate .app-singup-link:hover {
  color: rgb(255, 255, 255);
  background-color: #00BFA5;
  border-color: #00BFA5;
}
.navbar-boilerplate .app-login-link {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 18px;
  padding-right: 18px;
  transition: ease-in-out .3s, border-color ease-in-out .3s, color ease-in-out .2s;
}
.navbar-boilerplate .user-image {
  cursor: pointer;
}
.navbar-boilerplate .dropdown-toggle, .navbar-boilerplate .user-name {
  cursor: pointer;
  /* color: #fff; */
  color: #616161;
  transition: all ease-in-out .3s;
}
.navbar-boilerplate .dropdown-toggle:hover,
.dropdown-toggle:hover > span {
  color: #00E676;
  background: transparent;
}
.navbar-nav > li > .dropdown-menu {
  width: 50px;
}
.dropdown-menu .user-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.dropdown-menu .profile-option {
  cursor: pointer;
  margin: 5px;
  color: #424242;
  transition: all ease-in-out .3s;
}
.dropdown-menu .profile-option:hover {
  background-color: #5e9fdf;
  color: #fff;
  /* color: #616161; */
}
@media only screen and (max-width: 768px) {
  .navbar-boilerplate .app-singup-link,
  .navbar-boilerplate .app-login-link {
    padding-left: 0px;
    padding-right: 0px;
    border: none;
  }
  .navbar-boilerplate .app-singup-link:hover,
  .navbar-boilerplate .app-login-link:hover {
    background-color: transparent;
    color: #00E676;
  }
}
