.skin-blue .main-header .navbar {
  font-family: VarelaRound-Regular;
  height: 50px;
  background-color: #1c2d36;
  /* background-color: #1976d2; */
  /* background-image: linear-gradient(to right, #1976d2, #5e9fdf); */
}
.skin-blue .main-header .logo {
  background-color: #1c2d36;
  /* background-color: #1976d2; */
  color: #fff;
  border-bottom: 0 solid transparent;
}
.skin-blue .main-header .navbar .sidebar-toggle {
  background-color: transparent;
  padding: 5px;
  transition: all ease-in-out .3s;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  color: #00E676;
}


.navbar .dropdown-toggle, .user-name {
  cursor: pointer;
  color: #fff;
  transition: all ease-in-out .3s;
}
.navbar .dropdown-toggle:hover,
.navbar .dropdown-toggle:hover > span {
  color: #00E676;
  background-color: transparent;
}
.skin-blue .main-header .navbar .nav > li > a {
  color: #fff;
  background-color: transparent;
}
.skin-blue .main-header .navbar .nav > li > a:hover {
  color: #00E676;
}


.navbar-nav > li > .dropdown-menu {
  width: 50px;
}
.main-header .dropdown-toggle {
  transition: all ease-in-out .3s;
}
.dropdown-menu .user-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.dropdown-menu .profile-option {
  cursor: pointer;
  margin: 5px;
  color: #424242;
  transition: all ease-in-out .3s;
}
.dropdown-menu .profile-option:hover {
  background-color: #5e9fdf;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .skin-blue .main-header .navbar .dropdown-menu li a {
    color: #424242;
  }
  .skin-blue .main-header .navbar .dropdown-menu li a:hover {
    color: #fff;
  }
}



