<article (click)="gridArticleClick()" class="gridArticleContainer">
  <a class="gridArticleBanner" style="background-image: url('/assets/imgs/name3.jpg');"></a>
  <div class="gridArticleTexts">
    <div class="gridArticleTitle">
      <a>
        <h1>{{ articleBody.title }}</h1>
      </a>
    </div>
    <div class="gridArticleDescription">
      <a>
        <h2>{{ articleBody.brief_description }}</h2>
      </a>
    </div>
    <div class="gridArticleInformation">
      <div class="gridtArticleAuthor">
        <a>
          <h2>{{ articleBody.author }}</h2>
        </a>
      </div>
      <div class="gridArticleStatus">
        <span class="gridArticleDate">{{ labelDate }} - </span>
        <span class="gridArticleTime">{{ articleBody.time_reading }} min</span>
        <span class="gridArticleIcon" style="color: #757575; font-size: .6rem;">
          <!-- <i class="fas fa-star"></i> -->
          <!-- <i class="fab fa-readme fa-lg" style="color: #757575; width: 20px;"></i> -->
          <i class="fas fa-book-reader"></i>
        </span>
      </div>
    </div>
  </div>
</article>
