<div class="skin-blue">
<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header"></li>
      <li routerLinkActive="active">
        <a [routerLink]="['/dashboard/overview']">
        <i class="fas fa-home"></i><span> Painel </span></a></li>
      <li routerLinkActive="active">
        <a [routerLink]="['/dashboard/profile']">
        <i class="fas fa-user-circle"></i><span> Perfil </span></a>
      </li>
    </ul>
  </section>
</aside>
</div>
